<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <header>
            <h1>Travel Plano</h1>
        </header>
        <!-- Main Section -->
        <main>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas a molestiae vel asperiores, praesentium
                eligendi natus, magni veritatis, maiores minus recusandae iusto blanditiis doloremque eveniet
                repellendus tempora itaque beatae similique!</p>
        </main>
        <!-- Footer -->
        <footer>&copy;2021 Travel Plano. A Udacity Project by Mark Guerrero</section>
    </div>
</body>

</html>l