body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.4vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.8vw;
}

h4 {
    font-size: 1.6vw;
}

h5 {
    font-size: 1.4vw;
}