@import './color.scss';

header {
    background-color: $background;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100vw;
}

.logo {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.logo-first {
    font-size: 3.0em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    color: $logoBrown;
    margin-right: 6px;
}

.logo-second {
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    display: flex;
    align-items: flex-end;
}

nav {
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
}