@import 'reset.scss';
@import 'color.scss';
@import 'base.scss';
@import 'header.scss';
@import 'footer.scss';

main {
    padding: 10px;
    min-height: 85vh;
}

.travel-itenerary {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.travel-item {
    width: 40vw;
    margin-right: .9em;
    margin-bottom: 15px;
}

.travel-item img {
    max-width: 200px;
    margin-right: 10px;
}

.travel-item:last-child {
    margin-right: 0;
}

.travel-item .card-header {
    font-family: 'Fira Sans';
}